<!DOCTYPE html>
<html>
<head>
    <title>Bienvenue sur ma première page avec OpenClassrooms !</title>
</head>
<body>
<p>
Affichage de l'annonce d'id : "{{ id }}"

    {%if tag is not empty %}
    , avec le tag : "{{ tag }}"
    {% endif %}
</p>
</body>
</html>
