<!DOCTYPE html>
<html>
<head>
    <title>Bienvenue sur ma première page avec OpenClassrooms !</title>
</head>
<body>
<h1>
    <a href="{{ path('oc_platform_view', { 'id': id }) }}">
        Lien vers l'annonce d'id {{ id }}
    </a>
</h1>
</body>
</html>
